<?xml version="1.0"?>
<config>
    <modules>
        <Eke_Facebook>
            <version>0.1.1</version>
        </Eke_Facebook>
    </modules>
    <global>
        <models>
            <eke_facebook>
                <class>Eke_Facebook_Model</class>
                <resourceModel>eke_facebook_resource</resourceModel>
            </eke_facebook>
            <eke_facebook_resource>
                <class>Eke_Facebook_Model_Resource</class>
            </eke_facebook_resource>
        </models>
        <blocks>
            <eke_facebook>
                <class>Eke_Facebook_Block</class>
            </eke_facebook>
        </blocks>
        <helpers>
            <eke_facebook>
                <class>Eke_Facebook_Helper</class>
            </eke_facebook>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <eke_facebook>
                    <file>eke_facebook.xml</file>
                </eke_facebook>
            </updates>
        </layout>
    </frontend>
    <default>
        <eke_facebook>
            <tracker>
                <enabled>0</enabled>
            </tracker>
        </eke_facebook>
    </default>
</config>
